<template>
    <div>
        <input type="hidden" :name="'field['+group_id+']['+field_key+']['+locale+']'" v-model="editorData">
        <ckeditor v-model="editorData" :config="editorConfig"></ckeditor>
    </div>
</template>

<script>
    import CKEditor from 'ckeditor4-vue';

    export default {
        name: "CkeditorComponent",
        props:['group_id', 'field_key', 'locale', 'value'],
        components:{
            ckeditor: CKEditor.component,
        },
        data(){
            return {
                editorData : '',
                editorConfig: {

                }
            }
        },
        mounted() {
            this.editorData = this.value[this.locale];
        }
    }
</script>

<style scoped>

</style>
