<template>
    <div>
        <div v-show="current_locale === locale" v-for="locale in locales" class="py-2 px-8 w-auto undraggable" >

            <input @input="changeValue(index, locale)" :name="'field[' + group_id + '][' + element.key + '][' + locale + ']'" v-if="element.type === 'text_box'" v-model="element.value[locale]" type="text" class="undraggable w-full form-control form-input form-input-bordered">

            <textarea @input="changeValue(index, locale)" :name="'field[' + group_id + '][' + element.key + '][' + locale + ']'" v-if="element.type === 'textarea'" v-model="element.value[locale]" type="text" rows="10" class="w-full undraggable form-input form-input-bordered p-3"></textarea>

            <div v-if="element.type === 'rich_text_box'">
                <CKEditorComponent v-if="editor === 'ckeditor'" :value="element.value" :group_id="group_id" :locale="locale" :field_key="element.key"/>
                <TrumbowygComponent @changeValue="changeValue" :index="index" v-if="editor === 'trumbowyg'" :value="element.value" :group_id="group_id" :locale="locale" :field_key="element.key"/>
            </div>

            <span v-if="element.type === 'image'"  class="form-file undraggable mr-4">
                <a class="block undraggable" :href="storagePath+element.value[locale]">
                    <img v-if="element.value[locale]" :src="storagePath + element.value[locale]" style="width: auto;max-width: 100px;height: auto;display:block" alt="">
                </a>
                <input :name="'field['+group_id+']['+element.key+']['+locale+']'" :id="'field['+group_id+']['+element.key+']['+locale+']'" type="file" class="mt-2 undraggable">
            </span>

        </div>
        <div class="py-2 px-8 w-auto">
            <input :name="'field['+group_id+']['+element.key+']'" v-if="element.type === 'checkbox'" v-model="element.value" type="checkbox" class="checkbox undraggable">
        </div>
    </div>
</template>

<script>
    import CKEditorComponent from './editors/ckeditor';
    import TrumbowygComponent from './editors/trymbowyg';
    import axios from 'axios';
    export default {
        name: "fields",
        props:['element', 'field_key', 'locales', 'current_locale', 'group_id', 'routes', 'editor', 'index'],
        components: {
            CKEditorComponent,
            TrumbowygComponent
        },
        data() {
            return {
                storagePath:'',
                editorConfig: {
                }
            };
        },
        methods:{
            changeValue(key, locale){
                var value = event.target.value;

                this.$emit('changeValue', key, locale, value);
            },
            settingCkeditorData(id, key, locale, value){
                const input = document.getElementById(id);
                this.changeValue(key, locale);
            }
        },
        mounted() {
           this.storagePath = window.location.origin + '/storage/';
        }
    }
</script>

<style scoped>

</style>
